[Desktop Entry]
Encoding=UTF-8
Name=An Introduction to Earth and Environmental Data Science
Type=Application
Exec=xdg-open https://earth-env-data-science.github.io/intro.html
Icon=/usr/share/icons/datlinux/book.png
Categories=DatLinuxExtras;
Terminal=false
StartupNotify=false
MimeType=
