[Desktop Entry]
Encoding=UTF-8
Name=Analysing Quantitative Data with R
Type=Application
Exec=xdg-open https://drfloreiche.github.io/index.html
Icon=/usr/share/icons/datlinux/book.png
Categories=DatLinuxExtras;
Terminal=false
StartupNotify=false
MimeType=
