[Desktop Entry]
Encoding=UTF-8
Name=Big Data and Social Science
Type=Application
Exec=xdg-open https://textbook.coleridgeinitiative.org/
Icon=/usr/share/icons/datlinux/book.png
Categories=DatLinuxExtras;
Terminal=false
StartupNotify=false
MimeType=
