[Desktop Entry]
Encoding=UTF-8
Name=Data Visualization with R
Type=Application
Exec=xdg-open https://rkabacoff.github.io/datavis/
Icon=/usr/share/icons/datlinux/book.png
Categories=DatLinuxExtras;
Terminal=false
StartupNotify=false
MimeType=
