[Desktop Entry]
Encoding=UTF-8
Name=Data Visualization
Type=Application
Exec=xdg-open https://socviz.co/
Icon=/usr/share/icons/datlinux/book.png
Categories=DatLinuxExtras;
Terminal=false
StartupNotify=false
MimeType=
