[Desktop Entry]
Encoding=UTF-8
Name=Data Science A First Introduction
Type=Application
Exec=xdg-open https://datasciencebook.ca/
Icon=/usr/share/icons/datlinux/book.png
Categories=DatLinuxExtras;
Terminal=false
StartupNotify=false
MimeType=
