[Desktop Entry]
Encoding=UTF-8
Name=Data Mining and Machine Learning
Type=Application
Exec=xdg-open https://dataminingbook.info/book_html/
Icon=/usr/share/icons/datlinux/book.png
Categories=DatLinuxExtras;
Terminal=false
StartupNotify=false
MimeType=
