[Desktop Entry]
Encoding=UTF-8
Name=Explanatory Model Analysis
Type=Application
Exec=xdg-open https://ema.drwhy.ai/
Icon=/usr/share/icons/datlinux/book.png
Categories=DatLinuxExtras;
Terminal=false
StartupNotify=false
MimeType=
