[Desktop Entry]
Encoding=UTF-8
Name=Fundamentals of Data Visualization
Type=Application
Exec=xdg-open https://clauswilke.com/dataviz/
Icon=/usr/share/icons/datlinux/book.png
Categories=DatLinuxExtras;
Terminal=false
StartupNotify=false
MimeType=
