[Desktop Entry]
Encoding=UTF-8
Name=Interpretable Machine Learning
Type=Application
Exec=xdg-open https://christophm.github.io/interpretable-ml-book/
Icon=/usr/share/icons/datlinux/book.png
Categories=DatLinuxExtras;
Terminal=false
StartupNotify=false
MimeType=
