[Desktop Entry]
Encoding=UTF-8
Name=Introduction to Applied Linear Algebra
Type=Application
Exec=xdg-open https://web.stanford.edu/~boyd/vmls/
Icon=/usr/share/icons/datlinux/book.png
Categories=DatLinuxExtras;
Terminal=false
StartupNotify=false
MimeType=
