[Desktop Entry]
Encoding=UTF-8
Name=Python Data Science Handbook
Type=Application
Exec=xdg-open https://jakevdp.github.io/PythonDataScienceHandbook/
Icon=/usr/share/icons/datlinux/book.png
Categories=DatLinuxExtras;
Terminal=false
StartupNotify=false
MimeType=
