[Desktop Entry]
Encoding=UTF-8
Name=R Cookbook
Type=Application
Exec=xdg-open https://rc2e.com/
Icon=/usr/share/icons/datlinux/book.png
Categories=DatLinuxExtras;
Terminal=false
StartupNotify=false
MimeType=
