[Desktop Entry]
Encoding=UTF-8
Name=R for Data Science
Type=Application
Exec=xdg-open https://r4ds.had.co.nz/
Icon=/usr/share/icons/datlinux/book.png
Categories=DatLinuxExtras;
Terminal=false
StartupNotify=false
MimeType=
