[Desktop Entry]
Encoding=UTF-8
Name=Text Mining with R
Type=Application
Exec=xdg-open https://www.tidytextmining.com/
Icon=/usr/share/icons/datlinux/book.png
Categories=DatLinuxExtras;
Terminal=false
StartupNotify=false
MimeType=
