[Desktop Entry]
Encoding=UTF-8
Name=The Tidyverse Cookbook
Type=Application
Exec=xdg-open https://rstudio-education.github.io/tidyverse-cookbook/
Icon=/usr/share/icons/datlinux/book.png
Categories=DatLinuxExtras;
Terminal=false
StartupNotify=false
MimeType=
